

.parallax{ 
    /*the image used and relative parent element to teh about-me text*/
    background: url("../../images/dynamic_dark.jpg");
    /*need to set a specific height*/
    /*height:900px;*/
    /*create the parallax scrolling effect*/
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    line-height: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.pTitle {

    display: flex;
    flex-direction:column;
    justify-content: center;    
    align-items: center;
    width:70%;
    height:30%;
    margin: auto;
    color:#fff;
    font-weight: 400;
    text-shadow: .1rem .1rem .1rem #666,
                       .3rem .3rem .8rem black;
}

.title-text {
    font-family: "Ubuntu", serif, sans-serif;
    font-size: 4.8rem;
    line-height: 4.8rem;
}

.small {
    font-family: "Ubuntu", serif, sans-serif;
    font-size: 4.8rem;
    line-height: 4.8rem;
}

.pTitle .jsells {
    color:#F0DB4F;

}

