.work-button {
    font-family: "Roboto Slab", serif, sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;    
    align-items: center;
    padding:1.6rem 3.2rem 1.6rem 2.4rem;
    border: .2rem solid white;
    cursor: pointer;
    margin-top:2.0rem;
    box-shadow: .1rem .1rem .1rem #666,
    .3rem .3rem .8rem black;
    font-weight: 650;
    color: #fff;
    font-size: 2rem;
}

 .work-button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: inherit;
  }
  
  .work-button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2.0rem;
    transition: 0.5s;
    color: inherit;
  }
  
  .work-button:hover a {
    padding-right: 2.5rem;
    color:#F0DB4F;
    text-shadow: .1rem .1rem .1rem #666,
                       .3rem .3rem .4rem black;
  }
  
  .work-button:hover a:after {
    opacity: 1;
    right: 0;
  }

.work-button:hover {
    background:white;
}