.navbar-brand {
    height:15%;
    margin:0;
    font-size: 3.2rem;
    font-weight: 400;
    color: #F0DB4F;
}

.navbar-toggler{
    background:white;
}

.nav-link {
    font-size: 2.4rem;
    color: #ffffff;
    padding: "0 1rem";
}

.nav-link a {
    color: inherit;
}

.nav-link:hover {
    color: #ffffff;
}


