.footer {
    background: #000000;
    margin-top: 15rem;
    padding: 2.5rem;
}
#logo {
    color: #F0DB4F;
}

.footer_contact-nav {
    display: inline-block;
}

.footer__contact-list {
    list-style: none;
}

.footer__contact-item {
    transition: all .2s;
    display: inline;
    font-size: 2rem;
    color: #ffffff;
}

.footer__contact-item:hover {
    transform: translateY(-.3rem);
}

.footer__contact-item:not(:last-child) {
    margin-right: 4.5rem;
}

.footer__logo-box {
    background: #000000;
}

.footer__link {
    transition: all .2s;
    text-decoration: none;
    color: inherit;
    font-family: "Ubuntu", serif, sans-serif;
    margin-right: .5rem;
}

.footer__link:hover {
    text-decoration: none;
    color: #F0DB4F;
}

@media(max-width: 50rem) {
    .footer__contact-list {
        text-align: center;
        width: 100%;
    }

    .footer__contact-item {
        display: block;
        margin-right: 0;
    }

    .footer__contact-item:not(:last-child) {
        display: block;
        margin-right: 0;
        margin-bottom: .8rem;
    }

    .footer__logo-box {
        text-align: center;
        text-align: center;
        margin-bottom: 4rem;
        margin-left: 3rem;
    }
    .footer__link {
        font-size: 2.5rem;
        letter-spacing: .1rem;
    }
}