.about-container{
    background-color: #fff;
    margin:0px auto;
    padding: 0rem;
    font-size: 1rem;
    width: 100%;
}

.pro-img{
    box-shadow: 0px 5px 18px #888888;
    border-radius: 30px;
    margin: 0 auto 6rem;
    display: block;
    height: auto;
    width: 65%;
    min-width: 150px;
    border-style: none;
}

.about-p p{
    font-size: 1.25rem;
}