/*Color palette
---------------------------
light cream: #f2f3ee
Orange: #d17f38
Yellow: #e8c04f
Brown:  #4b2707
==========================*/


/*General*/
body{
    background: #f2f3ee;
    color:#000;
    font-size:14px;
}
/*Typography*/



/*Header*/



/*Hero*/



/*The Whole Story*/



/*News & Events*/


/*Force elements to self clear their children*/

.clearfix:after {
    visibility: hidden;
    display:block;
    content: " ";
    clear:both;
    height: 0;
}

